h2 .selected {
    font-weight: bold;
}

.selector:hover,
.selected:hover {
    background: none !important;
    font-weight: bold;
}

.selector h2 {
    transition: all .2s;
    background: transparent;
}

.selector h2:hover {
    background: black !important;
}

.selected {
    padding-left: 16px;
    padding-right: 16px;
}

.selected a:hover,
.selector a:hover {
    background: black !important;
}