html, body {
    overflow-x: hidden;
    outline: none;
}

#body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: none;
    padding: 0;
    margin: 0;

    padding-left: 8vw;
    padding-left: 4vw;
    padding-top: 20px;
}

#menu {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 50px;
    max-width: 500px;
    align-items: flex-start;
}

#menu h1{
    font-size: 48px;
    margin-bottom: 20px;
}
#menu sub{
    font-size: 24px;
    color: rgb(88, 88, 88);
    margin-bottom: 25px;
}

#menu h2 {
    font-size: 34px;
    margin-bottom: 10px;
}
#menu h3 {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

/* buttons */

.buttonContainer {
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    outline: none;
}

.action {
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
    outline:none;
    text-decoration: none;
    padding: 4px 8px;
}

.action.selected {
    background-color: rgb(204, 204, 204);
}

.buttonContainer h3 {
    margin-left: 30px;
}

/* displaying big right content */
#body > .hideable {
    /* spacing for flex */
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 80px;
    padding-right: 30px;
    margin-bottom: 50px;
    width: 100vw;
}

/* display the cv pdf inline */

#cv {
    max-width: 850px;
    border: none;
    height: 99vh;
    flex-grow: 1;
    padding-left: 3vw;
}

/* Fixing the google doc html generator */

#portfolio {
    max-width: 700px;
    font-size: 40px;
}

#portfolio > * {
    padding-right: 50px;
}

#portfolio * {
    height: auto
}

#portfolio ul {
    padding-left: 0;
}

#portfolio img {
    max-width: 80vw !important;
    /* width:auto; */
    height:auto !important;
}

#portfolio span {
    height:auto !important;
}