html, body {
    overflow-x: hidden;
    outline: none;
}

#body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: none;
    /* padding: 5px; */
    padding: 20px;
    margin: 0;
    /* margin: 20px; */
}

#menu {
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    margin-right: 50px;
    max-width: 500px;
    align-items: flex-start;
}

#menu h1{
    font-size: 48px;
    margin-bottom: 20px;
}

#menu sub{
    font-size: 24px;
    color: rgb(88, 88, 88);
    margin-bottom: 30px;
}


#menu > h2, #menu > h3 {
    margin: 10px;
}

a h2, a h3{
    padding: 4px 8px;
    outline: none;
}

a.action {
    outline:none;
    text-decoration: none;
}

.action h2 {
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
}

.action.selected h2 {
    background-color: rgb(204, 204, 204);
}


#menu .infoClear h3 {
    margin-top: 0;
    outline:none;
}


#menu h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

#menu h3 {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

#body > .infoClear {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    /* padding-right: 30px; */
    padding-bottom: 20px;
}


/* display the cv pdf inline */

#cv {
    /* width: 0; */
    width: 200px;
    flex-basis: 0;
    max-width: 900px;
    border: none;
    height: 99vh;
    flex-grow: 1;
}


/* Fixing the google doc html generator */

#portfolio {
    max-width: 800px;
    width: 100vw;
    font-size: 40px;
    margin-bottom: 100px;
}

#portfolio > * {
    padding-right: 70px;
}

#portfolio * {
    height: auto
}

#portfolio ul {
    padding-left: 0;
}

#portfolio img {
    max-width: 80vw !important;
    /* width:auto; */
    height:auto !important;
}

#portfolio span {
    height:auto !important;
}