html, body {
    /* overflow-x: hidden; */
    outline: none;
}

/* http://mrmrs.io/links/ */
a {
    transition: color .4s;
    color: rgb(23, 103, 160) !important;
    cursor: pointer; 
}

a:hover   { color: #7FDBFF !important;}
a:active  {
    transition: color .3s !important;
    color: #007BE6 !important;
}

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif !important;
    text-decoration: none !important;
}

/* stops load in jump from google css */
h1 {
    padding-top: 20pt;
    padding-bottom: 6pt;
}

#body{
    font-family: "Roboto", Arial, Helvetica, sans-serif !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: none;
    padding: 0;
    margin: 0;

    margin-left: 8vw;
    margin-top: 2vh;
    margin-right: 2vw;
}

.p5Canvas{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

#options {
    position: absolute;
    top:15px;
    right:10px;
    opacity: 0.8;
}

#options label {
    display: none;
}

#options:hover label{
    display:inline;
}

#options > * {
    margin: 10px 5px;
}

#menu {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10vw;
    max-width: 500px;
    align-items: flex-start;
}

#menu h1{
    font-size: 48px;
    margin-bottom: 20px;
}
#menu sub{
    font-size: 24px;
    color: rgb(88, 88, 88);
    margin-bottom: 25px;
}

#menu h2, #menu h3 {
    margin-bottom: 0;
    margin-left: 1.5vw;
    margin-top: 5vh;
    padding-top: 0;
    padding-bottom: 2vh;

    font-weight: 500;
}

#menu h2 {
    font-size: 34px;
}

#menu h3 {
    margin-top: 4vh;
    font-size: 20px;
}

/* buttons */
.buttonContainer {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    outline: none;
    flex-wrap: wrap;
}

.action {
    outline:none;
    padding: 2px 6px;

    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-radius: 4px;
    border-width: 2px;
}

.action.selected {
    background: rgba(255, 255, 255, 0.5);

    border-bottom-color: rgb(175, 175, 175);
    border-right-color: rgb(175, 175, 175);
}

.buttonContainer h3{
    margin-top: 0;
    padding-left: 8px;
}


/* displaying big right content */
#body > .hideable {
    margin-top: 80px;
    margin-bottom: 50px;
    
    max-width: 700px;
}


/* display the cv pdf inline */
#cv {
    border: none;
    flex-grow: 1;
}

#cv #photo {
    display:inline;
}

#photo img {
    width: 200px;
}

#cv #main {
    display: flex;
    flex-wrap: wrap;
}

#cv .header{
    margin-left: auto;
    margin-right: auto;
}

#cv #title{
    display:none;
}

#cv .job_title {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}

#cv h3 {
    margin-bottom: 0;
}

#cv p {
    margin-top: 5px;
    margin-bottom: 2px;
}

#cv .company::after {
    content: ","
}

/* h3 a::before, sub a::before, h2 > * > a::before{
    content: "🔗";
    color: rgba(0, 0, 0, 0.3);
    font-size: 120%;
    font-weight: bold;

    text-decoration: none;
    position: relative;
    left: -0.8em;
    top: -0.4em;

    width: 0;
    height: 0;
    display: block;
} */

.buttonContainer *::before {
    content: ""
}

/* Fixing the google doc html generator */
#portfolio > * {
    /* padding-right: 100px; */
    line-height: 1.35;
}

#portfolio * {
    height: auto;
    line-height: 1.4;
}

#portfolio li {
    margin-top: 0.5vh;
}

#portfolio p {
    font-weight: 500 !important;
    margin: 15px 0;
}

#portfolio ul {
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    padding-left: 0;
}

#portfolio span {
    width: auto !important;
}

#portfolio img {
    /* max-width: 80vw !important; */
    max-width: 80vw !important;
    height:auto !important;
}