.my_name {
    font-size: 48px;
    margin-bottom: 24px;
    margin-top: 0px;
        position: sticky;
}

.my_details h3{
    margin: 8px 0;
        transition: all .3s;
    }
    
    .my_details {
    
        text-align: end;
}

.my_details p {
    margin-top: 32px
}