html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Segoe UI", "Noto Sans", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    text-decoration: none !important;

    outline: none;
}

p div{
    line-height: 1.4em;
}

li{
    margin: 8px 0;
}

/* http://mrmrs.io/links/ */
a {
    transition: color .4s;
    color: rgb(23, 103, 160) !important;
    cursor: pointer; 
    text-decoration: none;
}

a:hover   { 
    color: #7FDBFF !important;
}

a:active  {
    transition: color .3s !important;
    color: #007BE6 !important;
}

h1{
    font-size: 48px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    /* margin-bottom: 20px; */
}

h2, h3 {
    /* margin-bottom: 0;
    margin-left: 1.5vw;
    margin-top: 5vh;
    padding-top: 0;
    padding-bottom: 2vh; */

    font-weight: 500;
}

h2 {
    color: rgb(88, 88, 88);
    /* font-size: 34px; */
}

h3 {
    margin-top: 4vh;
    font-size: 20px;
}